<h1>Show Order</h1>

<p><%= link_to "Edit", edit_order_path(@order) %></p>
<p><%= link_to "Delete", order_path(@order),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to orders", orders_path %></p>
