<h1>OrderItems</h1>

<ul>
  <% @order_items.each do |order_item| %>
    <li><%= link_to "Show", order_item_path(order_item) %></li>
  <% end %>
</ul>

<hr>

<%= link_to "New OrderItem", new_order_item_path %>
