<h1>Show Order_item</h1>

<p><%= link_to "Edit", edit_order_item_path(@order_item) %></p>
<p><%= link_to "Delete", order_item_path(@order_item),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to order_items", order_items_path %></p>
