@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-nav {
  border-bottom: 1px solid black;
  width: 100%;
  height-max: 150px;
  height: 40px;
  color: white;
}
.home:hover {
  font-size: 28px;
}

.container {
  color: black;
  margin-top: 1px;
}

.jumbotron {
  text-align: center;
  background-color: #DDA15E;
}

.nav-content {
  float: right;
  color: white;
  margin-left: 16px;
  margin-top: 14px;
  margin-right: 8px;
}

.panel-heading {
  font-size: 18px;
  text-align: left;
}

.panel {
  border: solid 1px;
  box-shadow: none;
}

.body {
  float: right;
  // color: #DDA15E;
  margin-left: 16px;
  // margin-top: 14px;
  margin-right: 8px;

}

.price {
  float: right;
}

.cart {
  float: right;
  color: green;
}
